{% extends "main/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="product-detail">
<img src="../{{ product.img }}">
<h1>{{ product.name }}</h1>
<h2>
<!-- <a href="{{ product.category.get_absolute_url }}">{{product.category }}</a> -->
</h2>
<p class="price">${{ product.price }}</p>
{{ product.description|linebreaks }}
<form method="post" action="{% url 'cart_add' product.id %}">
    {{ cart_product_form }}
    {%csrf_token%}
    <input class="btn btn-outline-dark mt-auto"type="submit" value="Add to cart">
</form>
</div>
{% endblock %}